h2 {
  text-align: center;
}
label {
  display: block;
}
.form-input {
  width: 20rem;
}
.submit-btn {
  background-color: rgb(245, 45, 45);
  border-color: rgb(245, 45, 45);
  border-radius: 0.25rem;
  border-style: hidden;
  width: 5rem;
  height: 2rem;
  margin: 1rem auto;
  color: azure;
}

@media screen and (max-width: 48rem) {
  img {
    display: flex;
  }
}
