h2 {
  text-align: center;
}
label {
  display: block;
}
.form-input {
  width: 100%;
  height: 1.5rem;
}
.submit-btn {
  background-color: rgb(245, 45, 45);
  border-color: rgb(245, 45, 45);
  border-radius: 0.25rem;
  border-style: hidden;
  width: 5rem;
  height: 2rem;
  margin: 1rem auto;
  color: azure;
}
