.nav-link {
  -webkit-text-fill-color: #2b2c34;
}
.btn.view-btn {
  color: rgb(245, 45, 45);
}
@media screen and (max-width: 48rem) {
  div {
    display: block;
  }
  .center {
    text-align: left;
  }
  .restaurant {
    border-bottom: dotted;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 35rem) {
  .restaurant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: dotted;
    padding: 0.5rem;
  }
}
